* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #222;
}
.box {
  position: relative;
  width: 400px;
  height: 300px;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  border-radius: 20px;
  animation: rotate 6s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  border-radius: 20px;
  animation: rotate 4s linear infinite;
  filter: blur(40px);
  opacity: 0.75;
}

.box span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 4px;
  background: #222;
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  z-index: 1;
}
.box span b {
  font-size: 14px;
  font-weight: 400;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes rotate {
  0% {
    --a: 0;
  }
  0% {
    --a: -360deg;
  }
}

.box .box {
  position: absolute;
  height: 150px;
  width: 500px;
  inset: 70px -50px;
}
